header.header
    nav.nav.nav--tours
      a.nav__el(href='#') All tours
      form.nav__search
        button.nav__search-btn
          svg
            use(xlink:href='img/icons.svg#icon-search')
        input.nav__search-input(type='text' placeholder='Search tours')
    .header__logo
      img(src='img/logo-white.png' alt='Natours logo')
    nav.nav.nav--user
      a.nav__el(href='#') My bookings
      a.nav__el(href='/profile')
        img.nav__user-img(src='img/users/user-1.jpg' alt='User photo')
        span Jonas