doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
  link(rel='stylesheet' href='css/style.css')
  link(rel='shortcut icon' type='image/png' href='img/favicon.png')
  title Natours | Exciting tours for adventurous people
body
  include _header

  .user-view
    nav.user-view__menu
      ul.side-nav
        li.side-nav--active
          a(href='#')
            svg
              use(xlink:href='img/icons.svg#icon-settings')
            | Settings
        li
          a(href='#')
            svg
              use(xlink:href='img/icons.svg#icon-briefcase')
            | My bookings
        li
          a(href='#')
            svg
              use(xlink:href='img/icons.svg#icon-star')
            | My reviews
        li
          a(href='#')
            svg
              use(xlink:href='img/icons.svg#icon-credit-card')
            | Billing
      .admin-nav
        h5.admin-nav__heading Admin
        ul.side-nav
          li
            a(href='#')
              svg
                use(xlink:href='img/icons.svg#icon-map')
              | Manage tours
          li
            a(href='#')
              svg
                use(xlink:href='img/icons.svg#icon-users')
              | Manage users
          li
            a(href='#')
              svg
                use(xlink:href='img/icons.svg#icon-star')
              | Manage reviews
          li
            a(href='#')
              svg
                use(xlink:href='img/icons.svg#icon-briefcase')

    .user-view__content
      .user-view__form-container
        h2.heading-secondary.ma-bt-md Your account settings
        form.form.form-user-data
          .form__group
            label.form__label(for='name') Name
            input#name.form__input(type='text', value='Jonas Schmedtmann', required)
          .form__group.ma-bt-md
            label.form__label(for='email') Email address
            input#email.form__input(type='email', value='admin@natours.io', required)

          .form__group.form__photo-upload
            img.form__user-photo(src='img/users/user-1.jpg', alt='User photo')
            input.form__upload(type="file", accept="image/*" ,action='me/update', method='POST', id='photo', name='photo', enctype='multipart/form-data')
            label(for="photo") Choose photo 
          .form__group.right
            button.btn.btn--small.btn--green Save settings
      .line &nbsp;
      .user-view__form-container
        h2.heading-secondary.ma-bt-md Password change
        form.form.form-user-settings
          .form__group
            label.form__label(for='password-current') Current password
            input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group
            label.form__label(for='password') New password
            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group.ma-bt-lg
            label.form__label(for='password-confirm') Confirm password
            input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group.right
            button.btn.btn--small.btn--green Save password

  include _footer
