doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject

  include _style
  body
    table.body(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td
          td.container
            .content
              // START CENTERED WHITE CONTAINER
              table.main(role='presentation')

                // START MAIN AREA
                tbody
                  tr
                    td.wrapper
                      table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                          tr
                            td
                              // CONTENT
                              p Hi #{firstName},
                              p #{subject} 🎉🙏
                              p Forgot password, please click this link to reset password anh comfirm it 
                              p 
                               b #{url}
                              p If you don't forget password, please ignore this email 
                              p And don't forget this link will expired in 10 minutes. So hurry up!
                              table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                tbody
                                  tr
                                    td(align='left')
                                      table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                        tbody
                                          tr
                                            td
                                              a(href=`${url}`, target='_blank') Reset password
                              p If you need any help with booking your next tour, please don't hesitate to contact me!
                              p - Jonas Schmedtmann, CEO

              // START FOOTER
              .footer
                table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                  tbody
                    tr
                      td.content-block
                        span.apple-link Natours Inc, 123 Nowhere Road, San Francisco CA 99999
                        br
                        |  Don't like these emails? 
                        a(href='#') Unsubscribe
